.about {
    grid-column: center-start / center-end;
    color: black;
    margin: 5rem 0;
  
    display: grid;
    grid-template-rows: repeat(2, min-content) minmax(25rem, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem 7rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    &__heading {
      grid-column: 1 /-1;
      grid-row: 1 / 2;
      align-self: end;
    }
  
    &__text {
      grid-column: 1 /-1;
      grid-row: 2 / 3;
      align-self: start;
    }
  
    &__item {
      &-icon {
        height: 5rem;
        width: 5rem;
      }
  
      &-heading {
        font-size: 3rem;
      }
  
      &-text {
        font-size: 2rem;
      }
  
      &--3 {
        svg {
          fill: $color-gold;
        }
      }
    }
  }