$font-primary: "Catamaran", sans-serif;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-gold: #e5b53e;

@keyframes seesaw {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-weight: 100;
}

.container {
  display: grid;
  grid-template-rows: 100vh repeat(4, min-content);
  grid-template-columns:
    [page-start]1fr [center-start]repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr[page-end];

  & > * {
    font-size: 3rem;
    color: #fff;
  }
}

.landing {
  grid-column: page-start / page-end;

  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;

  text-align: start;
  overflow: hidden;

  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    grid-row: 1 / -1;
    grid-column: 1/-1;
  }

  &__content {
    display: grid;
    grid-template-rows: min-content 5rem repeat(3, 1fr);
    grid-template-columns: 100%;
    background-image: linear-gradient(
      rgba($color-black, 0.3),
      rgba($color-black, 0.3)
    );
    width: 100%;
    height: 100%;
    object-fit: cover; // ?? needed
    z-index: 10;
    grid-row: 1 / -1;
    grid-column: 1 / -1;

    .nav {
      justify-content: flex-end;
    }
  }

  &__item {
    align-self: end;
    font-size: 10rem;
    font-weight: 600;
    padding-left: 5rem;
    &--1 {
      grid-row: 3/4;
    }
    &--2 {
      grid-row: 4/5;
    }
  }

  &__arrow {
    text-align: center;
    align-self: end;
    grid-row: 5/6;

    &-text {
      cursor: pointer;
      font-size: 2rem;
      animation: seesaw 1s linear infinite;
    }

    &-icon{
      cursor: pointer;
        fill: currentColor;
        height: 2rem;
        width: 2rem;
    }

    // &-link:link,
    // &-link:visited {
    //   color: currentColor;
    //   svg {
    //     fill: currentColor;
    //     height: 2rem;
    //     width: 2rem;
    //   }
    // }
  }
}

.navbar {
  opacity: 0;
  transition: all 0.2s;
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem;


  & > svg {
    pointer-events: none;
    margin-right: 3rem;
    fill: $color-white;
    height: 2rem;
    width: 2rem;
  }
}

.sticky {
  background-color: $color-black;
  opacity: 0.5;
  z-index: 20;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;


  &>svg {
    pointer-events: auto;
    cursor: pointer;
    fill: $color-white;
    opacity: 1;
    height: 2rem;
    width: 2rem;
  }
}

.about {
  grid-column: center-start / center-end;
  color: black;
  margin: 5rem 0;

  display: grid;
  grid-template-rows: repeat(2, min-content) minmax(25rem, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem 7rem;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__heading {
    grid-column: 1 /-1;
    grid-row: 1 / 2;
    align-self: end;
  }

  &__text {
    grid-column: 1 /-1;
    grid-row: 2 / 3;
    align-self: start;
  }

  &__item {
    &-icon {
      height: 5rem;
      width: 5rem;
    }

    &-heading {
      font-size: 3rem;
    }

    &-text {
      font-size: 2rem;
    }

    &--3 {
      svg {
        fill: $color-gold;
      }
    }
  }
}

.projects {
  background: $color-grey-light-2;
  padding: 5rem 3rem;
  grid-column: page-start / page-end;

  display: grid;
  grid-template-rows: min-content minmax(25rem, 1fr);
  grid-template-columns: repeat(3, minmax(25rem, 1fr));
  grid-gap: 2rem 7rem;
  text-align: center;
  justify-content: center;

  &__heading {
    grid-column: 1 / -1;
    color: $color-black;
  }
}
.project {
  display: grid;

  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 100%;
  color: $color-white;
  text-decoration: none;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 100%;
    grid-row: 1/-1;
    grid-column: 1/-1;
    object-fit: cover;
    transition: all 0.5s ease;
  }

  &__caption {
    align-self: stretch;
    grid-row: 1/-1;
    grid-column: 1/-1;
    opacity: 0;
    transition: all 0.5s ease;
    text-transform: uppercase;
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    &-text{
      grid-row: 2/3;
      align-self: center;
    }
  }

  &:hover &__caption {
    align-self: stretch;
    background-image: linear-gradient( rgba($color-black, .5),rgba($color-black, 0.5));
    opacity: 1;
    z-index: 100;
  }

  &:hover &__img {
    transform: scale(1.2);  
  }
}

.footer {
  background-color: $color-grey-dark-3;
  grid-column: page-start / page-end;
  grid-gap: 2rem;
  padding: 3rem;
  color: $color-grey-light-2;

  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
  grid-template-columns: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nav {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &__link:link,
  &__link:visited {
    text-decoration: none;
    font-size: 1.4rem;
    color: currentColor;
    display: block;
    padding: 1.5rem;
    transition: all .1s;

    svg {
      fill: currentColor;
      height: 2rem;
      width: 2rem;
    }
  }

  &__link:hover,
  &__link:active{
    transform: scale(1.2);
  }

}
