@keyframes seesaw {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(5deg); }
  50% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Catamaran", sans-serif;
  font-weight: 100; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(4, min-content);
  grid-template-columns: [page-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [page-end]; }
  .container > * {
    font-size: 3rem;
    color: #fff; }

.landing {
  grid-column: page-start / page-end;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  text-align: start;
  overflow: hidden; }
  .landing .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    grid-row: 1 / -1;
    grid-column: 1/-1; }
  .landing__content {
    display: grid;
    grid-template-rows: min-content 5rem repeat(3, 1fr);
    grid-template-columns: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
    grid-row: 1 / -1;
    grid-column: 1 / -1; }
    .landing__content .nav {
      justify-content: flex-end; }
  .landing__item {
    align-self: end;
    font-size: 10rem;
    font-weight: 600;
    padding-left: 5rem; }
    .landing__item--1 {
      grid-row: 3/4; }
    .landing__item--2 {
      grid-row: 4/5; }
  .landing__arrow {
    text-align: center;
    align-self: end;
    grid-row: 5/6; }
    .landing__arrow-text {
      font-size: 2rem;
      animation: seesaw 1s linear infinite; }
    .landing__arrow-link:link, .landing__arrow-link:visited {
      color: currentColor; }
      .landing__arrow-link:link svg, .landing__arrow-link:visited svg {
        fill: currentColor;
        height: 2rem;
        width: 2rem; }

.navbar {
  opacity: 0;
  transition: all 0.2s;
  display: flex;
  justify-content: flex-end; }
  .navbar svg {
    margin-right: 3rem;
    fill: #fff;
    height: 2rem;
    width: 2rem; }

.sticky {
  background-color: #000;
  opacity: 0.5;
  z-index: 20;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end; }
  .sticky svg {
    fill: #fff;
    opacity: 1;
    height: 2rem;
    width: 2rem; }

.about {
  grid-column: center-start / center-end;
  color: black;
  margin: 5rem 0;
  display: grid;
  grid-template-rows: repeat(2, min-content) minmax(25rem, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem 7rem;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .about__heading {
    grid-column: 1 /-1;
    grid-row: 1 / 2;
    align-self: end; }
  .about__text {
    grid-column: 1 /-1;
    grid-row: 2 / 3;
    align-self: start; }
  .about__item-icon {
    height: 5rem;
    width: 5rem; }
  .about__item-heading {
    font-size: 3rem; }
  .about__item-text {
    font-size: 2rem; }
  .about__item--3 svg {
    fill: #e5b53e; }

.projects {
  background: #eee;
  padding: 5rem 3rem;
  grid-column: page-start / page-end;
  display: grid;
  grid-template-rows: min-content minmax(25rem, 1fr);
  grid-template-columns: repeat(3, minmax(25rem, 1fr));
  grid-gap: 2rem 7rem;
  text-align: center;
  justify-content: center; }
  .projects__heading {
    grid-column: 1 / -1;
    color: #000; }

.project {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 100%;
  color: #fff;
  text-decoration: none;
  overflow: hidden; }
  .project__img {
    width: 100%;
    height: 100%;
    grid-row: 1/-1;
    grid-column: 1/-1;
    object-fit: cover;
    transition: all 0.5s ease; }
  .project__caption {
    align-self: stretch;
    grid-row: 1/-1;
    grid-column: 1/-1;
    opacity: 0;
    transition: all 0.5s ease;
    text-transform: uppercase;
    display: grid;
    grid-template-rows: repeat(3, 1fr); }
    .project__caption-text {
      grid-row: 2/3;
      align-self: center; }
  .project:hover .project__caption {
    align-self: stretch;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    opacity: 1;
    z-index: 100; }
  .project:hover .project__img {
    transform: scale(1.2); }

.footer {
  background-color: #333;
  grid-column: page-start / page-end;
  grid-gap: 2rem;
  padding: 3rem;
  color: #eee;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
  grid-template-columns: 100%;
  text-align: center;
  align-items: center;
  justify-content: center; }

.nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    font-size: 1.4rem;
    color: currentColor;
    display: block;
    padding: 1.5rem; }
    .nav__link:link svg, .nav__link:visited svg {
      fill: currentColor;
      height: 2rem;
      width: 2rem; }
